header {
    display: flex;
    align-items: center;
    padding: 32px 0;
}

.container {
    max-width: 1164px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navs {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color .5s;
}

.nav ~ .nav {
    margin-left: 50px;
}

.nav:hover {
    color: orangered;
}

/*media */


@media (max-width: 1440px) {
    header {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (max-width: 830px) {
    .navs {
        display: none;
    }
}